@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "sin471";
  default: true;
  color-scheme: light;
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(86% 0.022 252.894);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(89% 0.196 126.665);
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(100% 0 0);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(100% 0 0);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(100% 0 0);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(100% 0 0);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, monospace;
}
